body, html, p, ul, li, a, form, input, checkbox { margin:0; padding:0; }
ul {list-style-type:none; }
ul li { float:left; }

#main_box{ width:1000px; height:900px; margin:0 auto; position:relative; }
.ip_list{ height:1.4em; width:100%; background-color:#FFF6BF; }
.ip_checkbox{ float:right; }
.ip_service{ text-indent:16px; }
.process_button{ }
