<h1>Edit Multi Server</h1>
<%= form_tag "update", :method => :put do %>
	<% for product in @products %>
		<%= fields_for "process_more_ids[]", product do |f| %>
			<%= render partial: "fields", locals: { f: f } %>
		<% end %>
	<% end %>
	<p><%= submit_tag "Submit" %></p>
<% end %>
